

.splash-carousel-title{
margin: auto;
color:rgb(28, 27, 27);
display:block;
font-family:"Nunito Sans", sans-serif;
font-size:14px;
font-style:normal;
font-weight:400;
height:555.359px;
left:579.5px;
line-height:23.1px;
padding-bottom:0px;
padding-left:70px;
padding-right:70px;
padding-top:0px;
position:absolute;
text-align:center;
text-size-adjust:100%;
top:440px;
transform:matrix(1, 0, 0, 1, -317, -277.5);
width:634.875px;
}

.splash-header {
  box-sizing:border-box;
color:rgb(28, 27, 27);
display:block;
font-family:"Nunito Sans", sans-serif;
font-size:14px;
font-style:normal;
font-weight:400;
height:416px;
line-height:23.1px;
margin-bottom:70px;
opacity:1;
text-align:center;
text-size-adjust:100%;
transform:none;
}

.content-title {
  border-bottom-color:rgb(255, 255, 255);
border-bottom-style:solid;
border-bottom-width:2px;
box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:Net-Lulo-Clean-W01-One-Bold;
font-size:37px;
font-style:normal;
font-weight:400;
height:260px;
letter-spacing:5.55px;
line-height:70.3px;
margin-block-end:7px;
margin-block-start:0px;
margin-bottom:7px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-top:0px;
padding-bottom:33px;
padding-top:15px;
text-align:justify;
text-size-adjust:100%;
text-transform:uppercase;
}



.splash-button{
  align-items:center;
  box-sizing:border-box;
  color:rgb(28, 27, 27);
  display:flex;
  flex-wrap:wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-style:normal;
  font-weight:400;
  height:50px;
  justify-content:center;
  line-height:23.1px;
  margin-bottom:-8px;
  margin-left:-8px;
  margin-right:-8px;
  margin-top:-8px;
  text-align:center;
  text-size-adjust:100%;
  width:510.875px;
 }