.static-splash-container {

  // border: 3px solid blue;

  height: 650px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  img {
    height: 305px;
  }
}

.static-splash-container > div {

  // border: 1px solid red;
  text-align: center;
  font-family:"Nunito Sans", sans-serif;
  margin: auto;
  // margin: 0;
  // border: 2px solid red;
  // height: 325px;
  // width: 380px;
  // flex: 1;
}
.static-splash-text {
  width: 214px;
  font-weight: normal;
  font-size: 13.05px;
  letter-spacing: 1px;
}
.static-splash-text > h2 {
  margin-bottom: 14px;;
}



